/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border: 1px solid grey;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigations {
  width: 40%;
  margin: 0 auto;
  margin-right: 0;
}
.navigations nav {
  display: flex;
}
.navigations nav a {
  white-space: nowrap;
  font-size: 2rem;
  text-decoration: none;
  margin: 0 auto;
  padding: 3%;
  color: black;
}
@media (max-width: 500px) {
  .navigations {
    width: 100%;
    margin: 0;
  }
}
.footer {
  width: 100%;
  border-top: 2px solid grey;
  background: grey;
}
.footer p {
  text-align: center;
  color: black;
  font-size: 1.6rem;
  padding: 20px;
}
header {
  display: flex;
  margin-top: 3%;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
header .business-name {
  width: 20%;
  margin-left: 0;
  margin-bottom: 1%;
}
@media (max-width: 500px) {
  header .business-name {
    width: 40%;
    margin: 3%;
  }
}
.home {
  overflow: hidden;
}
.home .top-img {
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  .home .top-img {
    margin-top: 3%;
  }
}
.home .head-content {
  margin: 0 auto;
  margin-bottom: 3%;
  flex-direction: column;
}
@media (max-width: 500px) {
  .home .head-content {
    width: 75%;
  }
}
.home .top-section {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 500px) {
  .home .top-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 3%;
  }
}
.home .top-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .top-section .text-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
  }
}
.home .top-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .top-section .img-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
  }
}
.home .top-section .img-content img {
  border-radius: 10px;
}
.home .middle-content {
  padding-bottom: 30px;
}
@media (max-width: 500px) {
  .home .middle-content {
    flex-direction: column;
    margin-top: 3%;
  }
}
.home .middle-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .middle-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .lower-middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .home .lower-middle-content {
    width: 75%;
    margin-top: 3%;
  }
}
.home .lower-middle-content img {
  border-radius: 10px;
}
.home .bottom-content {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.home .bottom-content .showcase {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .bottom-content .showcase {
    width: 75%;
  }
}
.home button {
  background: grey;
  border-radius: 5px;
  margin: 15%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  height: 17%;
  margin-left: 0;
  margin-top: 0;
  color: black;
}
