/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: black;
  color: white;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.navigations {
  width: 40%;
  margin-right: 1%;
  margin-top: 2%;
}
.navigations nav {
  display: flex;
}
.navigations nav a {
  text-align: center;
  width: 20%;
  height: 10%;
  white-space: nowrap;
  font-size: 2rem;
  text-decoration: none;
  margin: 2%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  border: 1px solid white;
}
@media (max-width: 500px) {
  .navigations {
    width: 100%;
    margin: 0;
  }
}
.footer {
  width: 100%;
  background: white;
}
.footer p {
  color: black;
  text-align: center;
  font-size: 1.6rem;
  padding: 20px;
}
header {
  display: flex;
  width: 100%;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
header .business-name {
  width: 50%;
  margin: 2%;
  margin-bottom: 1%;
}
@media (max-width: 500px) {
  header .business-name {
    width: 40%;
    margin: 3%;
  }
}
.home {
  width: 100%;
  overflow: hidden;
}
.home .business-name {
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  .home .business-name {
    margin-top: 3%;
  }
}
.home .top-content {
  text-align: center;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .home .top-content {
    width: 75%;
  }
}
.home .card-pair-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}
.home .card-pair-1 .card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  height: 400px;
}
.home .card-pair-1 .card1 img {
  border-radius: 10px;
  width: 500px;
  height: 300px;
}
@media (max-width: 500px) {
  .home .card-pair-1 .card1 {
    width: 75%;
    margin-top: 3%;
  }
}
.home .card-pair-1 .card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  height: 400px;
}
.home .card-pair-1 .card2 img {
  border-radius: 10px;
  width: 500px;
  height: 300px;
}
@media (max-width: 500px) {
  .home .card-pair-1 .card2 {
    width: 75%;
    margin-top: 3%;
  }
}
.home .card-pair-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}
.home .card-pair-2 .card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  height: 400px;
}
.home .card-pair-2 .card3 img {
  border-radius: 10px;
  width: 500px;
  height: 300px;
}
@media (max-width: 500px) {
  .home .card-pair-2 .card3 {
    width: 75%;
    margin-top: 3%;
  }
}
.home .card-pair-2 .card4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  height: 400px;
}
.home .card-pair-2 .card4 img {
  border-radius: 10px;
  width: 500px;
  height: 300px;
}
@media (max-width: 500px) {
  .home .card-pair-2 .card4 {
    width: 75%;
    margin-top: 3%;
  }
}
