
header {
  @media @smallLaptop {
    .flexDisplay(column, center);

  }  
  display: flex;
  width: 100%;
  .business-name {
    width: 50%;
    margin: 2%;
    margin-bottom: 1%; 
    @media @smallLaptop {
      .flexDisplay(row, center);
      justify-content: center;
      width: 100%;
      margin-top: 8%;
      #logo {
        display: none;
      }
      h1 {
        font-size: 8vw;
      }
    }
  }
}

.home {
  width: 100%;
  .top-content {
    text-align: center;
    margin-bottom: 5%;
    @media @phone {
      width: 75%;
    }
  }

  .card-pair-1 {
    .flexDisplay(row, center);
    width: 75%;
    margin: 0 auto;
    .card1 {
      .flexDisplay(column, center);
      margin: 0 auto;
      width: 500px;
      height: 400px;
      img {
        border-radius: 10px;
        width: 500px;
        height: 300px;
      }
      @media @phone {
        width: 75%;
        margin-top: 3%;
      }
    }
    .card2 {
      .flexDisplay(column, center);
      margin: 0 auto;
      width: 500px;
      height: 400px;
      img {
        border-radius: 10px;
        width: 500px;
        height: 300px;
      }
      @media @phone {
        width: 75%;
        margin-top: 3%;
      }
    }
  }

  .card-pair-2 {
    .flexDisplay(row, center);
    width: 75%;
    margin: 0 auto;
    .card3 {
      .flexDisplay(column, center);
      margin: 0 auto;
      width: 500px;
      height: 400px;
      img {
        border-radius: 10px;
        width: 500px;
        height: 300px;
      }
      @media @phone {
        width: 75%;
        margin-top: 3%;
      }
    }
    .card4 {
      .flexDisplay(column, center);
      margin: 0 auto;
      width: 500px;
      height: 400px;
      img {
        border-radius: 10px;
        width: 500px;
        height: 300px;
      }
      @media @phone {
        width: 75%;
        margin-top: 3%;
      }
    }
  }
}