//Container/div surrounding page
// html {
//   background-image: url("../img/bg.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
// }
header {
  .flexDisplay(row, center);
 // h1 style
  .business-name {
    margin: 0 auto;
    margin-top: 3%;
  }
}

.body-container {
  .flexDisplay(row, flex-start);
  min-width: 100%;
  margin: auto;
  margin-top: 3%;
  * {
    border: 1px solid grey;
  }
  //section directly below header
  .card1 {
    margin-bottom: 3%;
    width: 100%;
    img {
      margin-bottom: 3%;
    }
  }

  .top-section {
    .flexDisplay(row, center);
    margin: 30px 0;
    .text-content {
      width: 48%;
      padding-right: 1%;
    }
    .img-content {
      width: 48%;
      padding-left: 1%;
      img {
        border-radius: 10px;
      }
    }
  }

  .middle-content {
    padding-bottom: 30px;
    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }
  }

  .lower-middle-content {
    margin: 0 auto 30px;
    img {
      border-radius: 10px;
    }
  }

  .bottom-content {
    padding-top: 30px;
    .showcase {
      width: 30%;
      margin-bottom: 30px;
    }
  }
}
