// Navigation Styles here
.navigations {
    width: 500px;
    height: 270vh;
    margin-right: 1%;
    background: grey;
    nav {
        .flexDisplay(column, left);
        a {
            font-size: 3rem;
            text-decoration: none;
            color: black;
            margin-top: 10%;
            color: black;
        }
    }
    button {
        font-size: 2rem;
        background: grey;
        color: black;
    }
}